<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUIyG1jj78477f9cKiEJ7ow4UwwaPPCuM">
  </script>

  <% if signed_in? %>
    <%= current_user.username %>
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>


  <%= render "layouts/errors" %>


<%= yield %>

</body>
</html>
